<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.lionslead.animaldodge"
        version   = "1.0.0">

    <name>Animal Dodge</name>

    <description>
        Animal Dodge
    </description>

    <author href="http://lionslead.com" email="support@lionslead.com">
        lionslead Team
    </author>

    
  
    <icon src="icon.png" />
    <platform name="android" />
    <content src="index.html"/>
   


</widget>
